.text-time-bold {
    font-size: 70px;
    font-weight: bold;
    line-height: 78px;
    text-align: center;
    float: left;
    color: #ffffff;
}

.text-time-colon {
    width: 8px;
    font-size: 28.8px;
    line-height: 78px;
    text-align: center;
    float: left;
    color: #ffffff;
}

.content-run {
    width: 100%;
    height: 100%;
}

#run-progress{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 100%;
	background-color: #333;
	z-index: -1;
}

#btn-reset {
    background-image: url("../image/button_reset.png");
    position: absolute;
    left: 25px;
    top: 143px;
    width: 38px;
    height: 38px;
}

#btn-skip {
    background-image: url("../image/button_skip.png");
    position: absolute;
    right: 25px;
    top: 143px;
    width: 38px;
    height: 38px;
}

#btn-settime {
    background-image: url("../image/button_cancel.png");
    position: absolute;
    left: 134px;
    top: 50px;
    width: 91px;
    height: 38px;
}

#box-run-time {
    position: absolute;
    left: 88px;
    top: 122px;
    width: 195px;
    height: 78px;
}

#box-phase {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
    height: 30px;
}

#text-phase {
	text-align: center;
	width: 100%;
	margin-bottom: 2px;
	font-size: 30px;
}

#box-time {
	position: absolute;
    left: 0px;
    right: 0px;
    top: 10px;
    height: 30px;
}

#text-time {
	text-align: center;
	width: 100%;
	margin-bottom: 2px;
	font-size: 30px;
}

#box-phase-number {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 90px;
    height: 30px;
}


#text-phase-number {
	text-align: center;
	width: 100%;
	font-size: 30px;
}

#text-run-minute {
    margin-right: 10px;
}

#text-run-second {
	margin-left: 10px;
}
